# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

Importar librerias y cargar los datos

In [1]:
import pandas as pd

# Cargar dataset
marketing_df = pd.read_csv(
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
)

# Ver las primeras filas
print(marketing_df.head())

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]

Revisar informaci√≥n general

In [2]:
# Informaci√≥n general: columnas, tipos de datos y nulos
print(marketing_df.info())

# Estad√≠sticas de columnas num√©ricas
print(marketing_df.describe())

# Revisar los nombres de las columnas
print(marketing_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB
None
         Unnamed: 0  Customer Lifetime Value        Income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       Monthly Premium Auto  Months Since Last Claim  \
count          10910.000000             10277.000000
mean              93.196059                15.149071
std               34.442532                10.080349
min               61.000000                 0.000000
25%               68.000000                 6.000000
50%               83.000000                14.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       Months Since Policy Inception  Number of Open Complaints  \
count                   10910.000000               10277.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.912457
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.000000
max                        99.000000                   5.000000

       Number of Policies  Total Claim Amount
count        10910.000000        10910.000000
mean             2.979193          434.888330
std              2.399359          292.180556
min              1.000000            0.099007
25%              1.000000          271.082527
50%              2.000000          382.564630
75%              4.000000          547.200000
max              9.000000         2893.239678
Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

Limpieza de nombres de columnas y texto

In [3]:
# Nombres de columnas en min√∫sculas y sin espacios
marketing_df.columns = marketing_df.columns.str.lower().str.replace(' ', '_')

# Normalizar columnas de texto
text_cols = ['gender', 'education', 'policy_type', 'vehicle_class', 'sales_channel']
for col in text_cols:
    marketing_df[col] = marketing_df[col].str.strip().str.title()

# Eliminar duplicados
marketing_df.drop_duplicates(inplace=True)

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [4]:
# Filtrar clientes
low_claim_yes = marketing_df[
    (marketing_df['total_claim_amount'] < 1000) &
    (marketing_df['response'].str.strip().str.title() == 'Yes')
]

# Mostrar primeras filas y n√∫mero de clientes
print(low_claim_yes.head())
print("N√∫mero de clientes con bajo total_claim_amount y respuesta Yes:", low_claim_yes.shape[0])

    unnamed:_0 customer       state  customer_lifetime_value response  \
3            3  XL78013      Oregon             22332.439460      Yes
8            8  FM55990  California              5989.773931      Yes
15          15  CW49887  California              4626.801093      Yes
19          19  NJ54277  California              3746.751625      Yes
27          27  MQ68407      Oregon              4376.363592      Yes

    coverage education effective_to_date employmentstatus gender  ...  \
3   Extended   College           1/11/11         Employed      M  ...
8    Premium   College           1/19/11         Employed      M  ...
15     Basic    Master           1/16/11         Employed      F  ...
19  Extended   College           2/26/11         Employed      F  ...
27   Premium  Bachelor           2/28/11         Employed      F  ...

    number_of_open_complaints number_of_policies     policy_type  \
3                         0.0                  2  Corporate Auto
8                         0.0                  1   Personal Auto
15                        0.0                  1    Special Auto
19                        1.0                  1   Personal Auto
27                        0.0                  1   Personal Auto

          policy  renew_offer_type  sales_channel  total_claim_amount  \
3   Corporate L3            Offer2         Branch          484.013411
8    Personal L1            Offer2         Branch          739.200000
15    Special L1            Offer2         Branch          547.200000
19   Personal L2            Offer2    Call Center           19.575683
27   Personal L3            Offer2          Agent           60.036683

    vehicle_class vehicle_size vehicle_type
3   Four-Door Car      Medsize            A
8      Sports Car      Medsize          NaN
15            Suv      Medsize          NaN
19   Two-Door Car        Large            A
27  Four-Door Car      Medsize          NaN

[5 rows x 26 columns]
N√∫mero de clientes con bajo total_claim_amount y respuesta Yes: 1399

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [5]:
# Filtrar clientes con respuesta Yes
yes_responders = marketing_df[marketing_df['response'].str.strip().str.title() == 'Yes']

# Pivot table: promedio de monthly_premium_auto y customer_lifetime_value
pivot_profit = yes_responders.pivot_table(
    index='policy_type',
    columns='gender',
    values=['monthly_premium_auto', 'customer_lifetime_value'],
    aggfunc='mean'
).round(2)

print(pivot_profit)

               customer_lifetime_value          monthly_premium_auto
gender                               F        M                    F      M
policy_type
Corporate Auto                 7712.63  7944.47                94.30  92.19
Personal Auto                  8339.79  7448.38                99.00  91.09
Special Auto                   7691.58  8247.09                92.31  86.34

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [6]:
# Contar clientes por estado
customers_per_state = marketing_df.groupby('state')['customer'].count().reset_index(name='total_customers')

# Filtrar estados con m√°s de 500 clientes
states_large = customers_per_state[customers_per_state['total_customers'] > 500].sort_values(by='total_customers', ascending=False)

print(states_large)

        state  total_customers
1  California             3552
3      Oregon             2909
0     Arizona             1937
2      Nevada              993
4  Washington              888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [7]:
# Pivot table con estad√≠sticas
clv_stats = marketing_df.pivot_table(
    index='education',
    columns='gender',
    values='customer_lifetime_value',
    aggfunc=['max', 'min', 'median']
).round(2)

print(clv_stats)

                           max                min            median
gender                       F         M        F        M        F        M
education
Bachelor              73225.96  67907.27  1904.00  1898.01  5640.51  5548.03
College               61850.19  61134.68  1898.68  1918.12  5623.61  6005.85
Doctor                44856.11  32677.34  2395.57  2267.60  5332.46  5577.67
High School Or Below  55277.45  83325.38  2144.92  1940.98  6039.55  6286.73
Master                51016.07  50568.26  2417.78  2272.31  5729.86  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here